In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import acquire
import wrangle
from scipy import stats
import sklearn.preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from numpy import percentile

from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectKBest, f_regression

    Filter out data using SQL propertylandusetypeid = 261 and transactiondate 2017

In [2]:
df = acquire.get_zillow_data()

Reading from csv file...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   bedroomcnt                    52441 non-null  float64
 2   bathroomcnt                   52441 non-null  float64
 3   calculatedfinishedsquarefeet  52359 non-null  float64
 4   poolcnt                       11096 non-null  float64
 5   pooltypeid2                   1071 non-null   float64
 6   pooltypeid10                  444 non-null    float64
 7   fireplacecnt                  7243 non-null   float64
 8   garagecarcnt                  18015 non-null  float64
 9   yearbuilt                     52325 non-null  float64
 10  lotsizesquarefeet             52072 non-null  float64
 11  latitude                      52441 non-null  float64
 12  longitude                     52441 non-null  float64
 13  regionidcounty                52441 non-null  float64
 14  regionidzip                   52415 non-null  float64
 15  fips                          52441 non-null  float64
 16  taxvaluedollarcnt             52440 non-null  float64
 17  transactiondate               52441 non-null  object
 18  propertylandusetypeid         52441 non-null  float64
dtypes: float64(17), int64(1), object(1)
memory usage: 7.6+ MB

    Verify there are no duplicates in df. Yay no duplicates

In [4]:
df.duplicated().sum()

0

    How many NaN values in df

In [5]:
df_prep = df.copy(deep=True)
df_prep.isnull().sum()

parcelid                            0
bedroomcnt                          0
bathroomcnt                         0
calculatedfinishedsquarefeet       82
poolcnt                         41345
pooltypeid2                     51370
pooltypeid10                    51997
fireplacecnt                    45198
garagecarcnt                    34426
yearbuilt                         116
lotsizesquarefeet                 369
latitude                            0
longitude                           0
regionidcounty                      0
regionidzip                        26
fips                                0
taxvaluedollarcnt                   1
transactiondate                     0
propertylandusetypeid               0
dtype: int64

In [6]:
df_prep.bathroomcnt.value_counts()

2.0     21893
3.0     10673
1.0      9568
2.5      3934
4.0      2227
3.5       918
1.5       841
5.0       803
4.5       687
6.0       322
5.5       224
0.0       121
7.0        88
8.0        53
6.5        47
7.5        16
9.0        13
10.0        5
11.0        3
8.5         3
18.0        1
13.0        1
Name: bathroomcnt, dtype: int64

In [7]:
df_prep.bedroomcnt.value_counts()

3.0     23359
4.0     15240
2.0      8340
5.0      3973
6.0       635
1.0       612
0.0       137
7.0       106
8.0        24
9.0         8
12.0        3
10.0        2
14.0        1
11.0        1
Name: bedroomcnt, dtype: int64

    Replace zero values in bath & bed with NaN

In [8]:
bed_bath_0_columns = ['bedroomcnt', 'bathroomcnt']
df_prep[bed_bath_0_columns] = df_prep[bed_bath_0_columns].replace(0, np.NaN)
df_prep = df_prep.reset_index(drop=True)

In [9]:
df_prep.isnull().sum()

parcelid                            0
bedroomcnt                        137
bathroomcnt                       121
calculatedfinishedsquarefeet       82
poolcnt                         41345
pooltypeid2                     51370
pooltypeid10                    51997
fireplacecnt                    45198
garagecarcnt                    34426
yearbuilt                         116
lotsizesquarefeet                 369
latitude                            0
longitude                           0
regionidcounty                      0
regionidzip                        26
fips                                0
taxvaluedollarcnt                   1
transactiondate                     0
propertylandusetypeid               0
dtype: int64

    Since all fire/pool/gareage that NaN are 0 we will replace NaN values with 0 for pool, fire, and garage

In [10]:
fire_garge_pool_0_columns = ['poolcnt','pooltypeid2','pooltypeid10', 'fireplacecnt','garagecarcnt']
df_prep[fire_garge_pool_0_columns] = df_prep[fire_garge_pool_0_columns].replace(np.NaN, 0)
df_prep = df_prep.reset_index(drop=True)

In [11]:
df_prep.isnull().sum()

parcelid                          0
bedroomcnt                      137
bathroomcnt                     121
calculatedfinishedsquarefeet     82
poolcnt                           0
pooltypeid2                       0
pooltypeid10                      0
fireplacecnt                      0
garagecarcnt                      0
yearbuilt                       116
lotsizesquarefeet               369
latitude                          0
longitude                         0
regionidcounty                    0
regionidzip                      26
fips                              0
taxvaluedollarcnt                 1
transactiondate                   0
propertylandusetypeid             0
dtype: int64

In [12]:
df_prep.shape

(52441, 19)

    Since there are only 558 unique rows that contain NaN values we are going to drop all for the sake of time

In [13]:
df_prep = df_prep.dropna(axis=0)
df_prep = df_prep.reset_index(drop=True)

In [14]:
df_prep.shape

(51883, 19)

In [15]:
df_prep.head(50)

,parcelid,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,poolcnt,pooltypeid2,pooltypeid10,fireplacecnt,garagecarcnt,yearbuilt,lotsizesquarefeet,latitude,longitude,regionidcounty,regionidzip,fips,taxvaluedollarcnt,transactiondate,propertylandusetypeid
0,14297519,4.0,3.5,3100.0,0.0,0.0,0.0,0.0,2.0,1998.0,4506.0,33634931.0,-117869207.0,1286.0,96978.0,6059.0,1023282.0,2017-01-01,261.0
1,17052889,2.0,1.0,1465.0,0.0,0.0,0.0,1.0,1.0,1967.0,12647.0,34449266.0,-119281531.0,2061.0,97099.0,6111.0,464000.0,2017-01-01,261.0
2,14186244,3.0,2.0,1243.0,1.0,0.0,0.0,0.0,2.0,1962.0,8432.0,33886168.0,-117823170.0,1286.0,97078.0,6059.0,564778.0,2017-01-01,261.0
3,12177905,4.0,3.0,2376.0,1.0,0.0,0.0,0.0,0.0,1970.0,13038.0,34245180.0,-118240722.0,3101.0,96330.0,6037.0,145143.0,2017-01-01,261.0
4,12095076,4.0,3.0,2962.0,1.0,0.0,0.0,0.0,0.0,1950.0,63000.0,34145202.0,-118179824.0,3101.0,96293.0,6037.0,773303.0,2017-01-01,261.0
5,12069064,2.0,1.0,738.0,0.0,0.0,0.0,0.0,0.0,1922.0,4214.0,34149214.0,-118239357.0,3101.0,96325.0,6037.0,218552.0,2017-01-01,261.0
6,12790562,4.0,3.0,3039.0,0.0,0.0,0.0,0.0,0.0,1970.0,20028.0,33960230.0,-118006914.0,3101.0,96173.0,6037.0,220583.0,2017-01-02,261.0
7,11104527,4.0,3.0,2540.0,1.0,0.0,0.0,0.0,0.0,1999.0,10384.0,34434971.0,-118464390.0,3101.0,96374.0,6037.0,430108.0,2017-01-02,261.0
8,13944538,3.0,2.5,1340.0,0.0,0.0,0.0,1.0,2.0,1980.0,1199.0,33771438.0,-117982834.0,1286.0,97051.0,6059.0,319668.0,2017-01-02,261.0
9,17110996,3.0,2.5,1371.0,0.0,0.0,0.0,0.0,2.0,2004.0,3445.0,34238229.0,-119170633.0,2061.0,97107.0,6111.0,198054.0,2017-01-02,261.0
10,14375300,4.0,2.0,1677.0,0.0,0.0,0.0,0.0,2.0,1981.0,5304.0,33642800.0,-117707211.0,1286.0,96962.0,6059.0,528847.0,2017-01-02,261.0
11,11830315,2.0,1.0,1146.0,0.0,0.0,0.0,0.0,0.0,1939.0,4657.0,34024040.0,-118159090.0,3101.0,96003.0,6037.0,273745.0,2017-01-02,261.0
12,14387959,3.0,2.5,2074.0,0.0,0.0,0.0,1.0,2.0,1978.0,5600.0,33586693.0,-117697202.0,1286.0,96971.0,6059.0,597213.0,2017-01-02,261.0
13,14349322,3.0,2.5,2018.0,0.0,0.0,0.0,0.0,2.0,1998.0,2800.0,33728985.0,-117754647.0,1286.0,96954.0,6059.0,534612.0,2017-01-02,261.0
14,11706737,2.0,1.0,1316.0,0.0,0.0,0.0,0.0,0.0,1908.0,5091.0,34009471.0,-118281052.0,3101.0,96018.0,6037.0,171838.0,2017-01-02,261.0
15,12531488,3.0,1.0,1641.0,0.0,0.0,0.0,0.0,0.0,1944.0,5302.0,33760954.0,-118123592.0,3101.0,96237.0,6037.0,432754.0,2017-01-02,261.0
16,14314879,6.0,4.5,3870.0,1.0,0.0,0.0,2.0,3.0,1972.0,10050.0,33609965.0,-117850693.0,1286.0,96957.0,6059.0,2040000.0,2017-01-02,261.0
17,11130689,3.0,2.0,1538.0,0.0,0.0,0.0,0.0,0.0,1972.0,5997.0,34375142.0,-118559779.0,3101.0,96352.0,6037.0,401399.0,2017-01-02,261.0
18,12036177,3.0,2.0,1851.0,0.0,0.0,0.0,0.0,0.0,1920.0,6714.0,34103373.0,-118293280.0,3101.0,96008.0,6037.0,85035.0,2017-01-02,261.0
19,14333888,2.0,3.0,3230.0,1.0,0.0,0.0,0.0,3.0,1967.0,18200.0,33760091.0,-117789669.0,1286.0,97005.0,6059.0,954106.0,2017-01-02,261.0
20,12713253,4.0,3.0,2447.0,1.0,0.0,0.0,0.0,0.0,1967.0,7911.0,33770258.0,-118363785.0,3101.0,96122.0,6037.0,1083000.0,2017-01-02,261.0
21,14338242,4.0,2.5,1987.0,0.0,0.0,1.0,0.0,2.0,1989.0,3600.0,33794052.0,-117769536.0,1286.0,97067.0,6059.0,703127.0,2017-01-02,261.0
22,11680471,3.0,3.0,3641.0,1.0,0.0,0.0,0.0,0.0,1980.0,183383.0,34077252.0,-118663270.0,3101.0,96116.0,6037.0,1444248.0,2017-01-02,261.0
23,12155445,5.0,4.0,3572.0,1.0,0.0,0.0,0.0,0.0,1967.0,20148.0,34209748.0,-118190041.0,3101.0,96271.0,6037.0,1473080.0,2017-01-02,261.0
24,14344863,4.0,2.5,1979.0,0.0,0.0,0.0,1.0,2.0,1977.0,3936.0,33713632.0,-117765112.0,1286.0,96954.0,6059.0,800017.0,2017-01-02,261.0
25,10852826,3.0,3.0,2637.0,1.0,0.0,0.0,0.0,0.0,1952.0,8968.0,34164701.0,-118500753.0,3101.0,96349.0,6037.0,833227.0,2017-01-02,261.0
26,10871883,5.0,2.0,1818.0,1.0,0.0,0.0,0.0,0.0,1948.0,7499.0,34209855.0,-118416304.0,3101.0,96450.0,6037.0,166428.0,2017-01-02,261.0
27,10900115,4.0,3.0,3160.0,0.0,0.0,0.0,0.0,0.0,1941.0,16506.0,34155840.0,-118375588.0,3101.0,96447.0,6037.0,691816.0,2017-01-02,261.0
28,11737342,2.0,2.0,1529.0,0.0,0.0,0.0,0.0,0.0,1928.0,3640.0,34043198.0,-118355618.0,3101.0,96000.0,6037.0,657099.0,2017-01-02,261.0
29,12106936,3.0,2.0,1447.0,0.0,0.0,0.0,0.0,0.0,1901.0,7283.0,34166370.0,-118151336.0,3101.0,96291.0,6037.0,70755.0,2017-01-02,261.0
30,11405344,3.0,1.0,872.0,0.0,0.0,0.0,0.0,0.0,1922.0,5566.0,33955053.0,-118344280.0,3101.0,96133.0,6037.0,248916.0,2017-01-02,261.0
31,13043344,4.0,5.0,5492.0,1.0,0.0,0.0,0.0,0.0,2006.0,67316.0,34144603.0,-117818513.0,3101.0,96486.0,6037.0,1814004.0,2017-01-02,261.0
32,11036179,4.0,3.0,2317.0,1.0,0.0,0.0,0.0,0.0,1953.0,8703.0,34247194.0,-118443255.0,3101.0,96361.0,6037.0,309821.0,2017-01-02,261.0
33,14455676,4.0,5.0,4468.0,0.0,0.0,0.0,0.0,2.0,2007.0,7900.0,33475575.0,-117593484.0,1286.0,96983.0,6059.0,1279000.0,2017-01-02,261.0
34,14463877,3.0,2.5,1734.0,0.0,0.0,0.0,0.0,2.0,2000.0,2765.0,33562809.0,-117631225.0,1286.0,96998.0,6059.0,638000.0,2017-01-02,261.0
35,10828742,3.0,2.0,1815.0,1.0,0.0,0.0,0.0,0.0,1958.0,10311.0,34205109.0,-118454045.0,3101.0,96414.0,6037.0,103293.0,2017-01-02,261.0
36,13022358,2.0,1.0,609.0,0.0,0.0,0.0,0.0,0.0,1948.0,8997.0,34110426.0,-117919759.0,3101.0,96464.0,6037.0,162320.0,2017-01-02,261.0
37,13007403,3.0,3.0,2380.0,0.0,0.0,0.0,0.0,0.0,1991.0,9960.0,34104778.0,-118056266.0,3101.0,96517.0,6037.0,654279.0,2017-01-02,261.0
38,14452416,4.0,4.0,3415.0,0.0,0.0,0.0,0.0,2.0,1999.0,6185.0,33463484.0,-117591802.0,1286.0,96983.0,6059.0,579059.0,2017-01-02,261.0
39,14448439,2.0,2.0,1367.0,0.0,0.0,0.0,0.0,2.0,2014.0,6000.0,33443917.0,-117638959.0,1286.0,96982.0,6059.0,815542.0,2017-01-02,261.0
40,12464464,2.0,2.0,1814.0,0.0,0.0,0.0,0.0,0.0,1962.0,5372.0,33833199.0,-118191488.0,3101.0,96241.0,6037.0,310117.0,2017-01-02,261.0
41,12840475,2.0,1.0,928.0,0.0,0.0,0.0,0.0,0.0,1948.0,13360.0,34049695.0,-117936204.0,3101.0,96488.0,6037.0,241624.0,2017-01-02,261.0
42,13091973,3.0,2.0,1463.0,0.0,0.0,0.0,0.0,0.0,1984.0,12113.0,34023488.0,-117884178.0,3101.0,96522.0,6037.0,200726.0,2017-01-02,261.0
43,14432426,3.0,2.0,1481.0,0.0,0.0,0.0,1.0,2.0,1962.0,10112.0,33479611.0,-117688280.0,1286.0,96961.0,6059.0,606645.0,2017-01-02,261.0
44,11016518,4.0,2.0,1625.0,0.0,0.0,0.0,0.0,0.0,1956.0,8427.0,34282275.0,-118492692.0,3101.0,96370.0,6037.0,97097.0,2017-01-02,261.0
45,14434171,5.0,6.5,9586.0,1.0,1.0,0.0,0.0,4.0,1992.0,30000.0,33496171.0,-117699380.0,1286.0,96987.0,6059.0,3624442.0,2017-01-02,261.0
46,11018202,2.0,1.0,812.0,0.0,0.0,0.0,0.0,0.0,1917.0,7150.0,34276431.0,-118447368.0,3101.0,96366.0,6037.0,40746.0,2017-01-02,261.0
47,10808296,3.0,3.0,2406.0,0.0,0.0,0.0,0.0,0.0,1979.0,7245.0,34165555.0,-118602948.0,3101.0,96387.0,6037.0,605540.0,2017-01-02,261.0
48,11023776,2.0,1.0,776.0,0.0,0.0,0.0,0.0,0.0,1946.0,7055.0,34250870.0,-118421788.0,3101.0,96361.0,6037.0,164836.0,2017-01-02,261.0
49,12871444,3.0,2.0,1059.0,0.0,0.0,0.0,0.0,0.0,1955.0,7215.0,34083661.0,-117735137.0,3101.0,96507.0,6037.0,187119.0,2017-01-02,261.0

In [16]:
df_prep.columns

Index(['parcelid', 'bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'poolcnt', 'pooltypeid2', 'pooltypeid10', 'fireplacecnt',
       'garagecarcnt', 'yearbuilt', 'lotsizesquarefeet', 'latitude',
       'longitude', 'regionidcounty', 'regionidzip', 'fips',
       'taxvaluedollarcnt', 'transactiondate', 'propertylandusetypeid'],
      dtype='object')

In [17]:
df_prep.columns

Index(['parcelid', 'bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet',
       'poolcnt', 'pooltypeid2', 'pooltypeid10', 'fireplacecnt',
       'garagecarcnt', 'yearbuilt', 'lotsizesquarefeet', 'latitude',
       'longitude', 'regionidcounty', 'regionidzip', 'fips',
       'taxvaluedollarcnt', 'transactiondate', 'propertylandusetypeid'],
      dtype='object')

In [18]:
df_prep = df_prep.drop(columns=['parcelid', 'propertylandusetypeid', 'transactiondate'])

In [19]:
df_prep.columns

Index(['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'poolcnt',
       'pooltypeid2', 'pooltypeid10', 'fireplacecnt', 'garagecarcnt',
       'yearbuilt', 'lotsizesquarefeet', 'latitude', 'longitude',
       'regionidcounty', 'regionidzip', 'fips', 'taxvaluedollarcnt'],
      dtype='object')

In [20]:
df_prep = df_prep.rename(columns={'bedroomcnt':'bedrooms', 'bathroomcnt':'bathrooms', 'calculatedfinishedsquarefeet':'sqft_living', 'poolcnt':'pools', 'pooltypeid2':'pool_hottub_or_spa', 'pooltypeid10':'hottub_or_spa', 'fireplacecnt':'fireplaces', 'garagecarcnt':'garage_cars', 'yearbuilt':'year_built', 'lotsizesquarefeet':'sqft_lot', 'latitude':'lat', 'longitude':'long', 'regionidcounty':'countyid', 'regionidzip':'zip', 'fips':'fips','taxvaluedollarcnt': 'taxvalue'})

In [21]:
df_prep.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'pools', 'pool_hottub_or_spa',
       'hottub_or_spa', 'fireplaces', 'garage_cars', 'year_built', 'sqft_lot',
       'lat', 'long', 'countyid', 'zip', 'fips', 'taxvalue'],
      dtype='object')

In [22]:
df_prep.head(10)

,bedrooms,bathrooms,sqft_living,pools,pool_hottub_or_spa,hottub_or_spa,fireplaces,garage_cars,year_built,sqft_lot,lat,long,countyid,zip,fips,taxvalue
0,4.0,3.5,3100.0,0.0,0.0,0.0,0.0,2.0,1998.0,4506.0,33634931.0,-117869207.0,1286.0,96978.0,6059.0,1023282.0
1,2.0,1.0,1465.0,0.0,0.0,0.0,1.0,1.0,1967.0,12647.0,34449266.0,-119281531.0,2061.0,97099.0,6111.0,464000.0
2,3.0,2.0,1243.0,1.0,0.0,0.0,0.0,2.0,1962.0,8432.0,33886168.0,-117823170.0,1286.0,97078.0,6059.0,564778.0
3,4.0,3.0,2376.0,1.0,0.0,0.0,0.0,0.0,1970.0,13038.0,34245180.0,-118240722.0,3101.0,96330.0,6037.0,145143.0
4,4.0,3.0,2962.0,1.0,0.0,0.0,0.0,0.0,1950.0,63000.0,34145202.0,-118179824.0,3101.0,96293.0,6037.0,773303.0
5,2.0,1.0,738.0,0.0,0.0,0.0,0.0,0.0,1922.0,4214.0,34149214.0,-118239357.0,3101.0,96325.0,6037.0,218552.0
6,4.0,3.0,3039.0,0.0,0.0,0.0,0.0,0.0,1970.0,20028.0,33960230.0,-118006914.0,3101.0,96173.0,6037.0,220583.0
7,4.0,3.0,2540.0,1.0,0.0,0.0,0.0,0.0,1999.0,10384.0,34434971.0,-118464390.0,3101.0,96374.0,6037.0,430108.0
8,3.0,2.5,1340.0,0.0,0.0,0.0,1.0,2.0,1980.0,1199.0,33771438.0,-117982834.0,1286.0,97051.0,6059.0,319668.0
9,3.0,2.5,1371.0,0.0,0.0,0.0,0.0,2.0,2004.0,3445.0,34238229.0,-119170633.0,2061.0,97107.0,6111.0,198054.0

In [23]:
eda = df_prep.copy(deep=True)

    EDA

    split data

In [24]:
train_and_validate, test = train_test_split(eda, random_state=123, test_size=.2)
train, validate = train_test_split(train_and_validate, random_state=123, test_size=.2)

In [25]:
def corrstatsgraphs3(df):
    """
    Description
    ----
    Outputs the general statistical description of the dataframe,
    outputs the correlation heatmap with target label, and outputs a distribution plot.
    
    Parameters
    ----
    df(DataFrame):
        The dataframe for which information will be displayed.
        
    Returns
    ----
    useful stats, correlation, and subplots
    
    """
       
    # Heatmap with min -1 to max 1 to all variables
    # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html
    corr = df.corr()
    plt.subplots(figsize=(22, 17))
    plt.title("Heatmap", fontsize = 'x-large')
    mask = np.triu(np.ones_like(corr, dtype=bool))
    cmap = sns.diverging_palette(230, 21, as_cmap=True)
    sns.heatmap(corr, annot=True, mask = mask, cmap=cmap, vmin=-1, vmax=1
    )
    # Correlation Heatmap with min -1 to max 1 in conjuction with pd.corr 
    plt.figure(figsize=(10, 8)) 
    plt.title("Heatmap", fontsize = 'x-large')
    sns.heatmap(df.corr()[['taxvalue']].sort_values(by='taxvalue', 
    ascending=False), vmin=-1, vmax=1, annot=True, cmap='BrBG'
    )
    sns.pairplot(df[['bedrooms', 'bathrooms', 'sqft_living', 'pools', 'pool_hottub_or_spa',
       'hottub_or_spa', 'fireplaces', 'garage_cars', 'year_built', 'sqft_lot',
       'countyid', 'zip', 'fips', 'taxvalue']], corner=True, kind='reg', plot_kws={'line_kws':{'color':'red'}}
    )
    # Correlation Heatmap with min -1 to max 1 in conjuction with pd.corr
    plt.figure(figsize=(16,10))
    df.corr()['taxvalue'].sort_values(ascending=False).plot(kind='bar', figsize=(20,5), cmap='BrBG'
    )
    sns.jointplot(x="bedrooms", y="taxvalue", data=df,  kind='reg', height=5, line_kws={'color': 'red'}
    )
    sns.jointplot(x="bedrooms", y="taxvalue", data=df,  kind='kde', line_kws={'color': 'red'}
    )
      
    sns.jointplot(x="bathrooms", y="taxvalue", data=df, ratio=5, kind='reg', height=5, line_kws={'color': 'red'}
    )
    sns.jointplot(x="bathrooms", y="taxvalue", data=df,  kind='kde', line_kws={'color': 'red'})

In [26]:
# corrstatsgraphs3(train)

    preprocessing

In [27]:
X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.X_y(train, validate, test)

In [28]:
X_train.head()

,bedrooms,bathrooms,sqft_living,pools,pool_hottub_or_spa,hottub_or_spa,fireplaces,garage_cars,year_built,sqft_lot,lat,long,countyid,zip,fips
26147,4.0,5.0,3654.0,0.0,0.0,0.0,0.0,0.0,2001.0,2420.0,33875227.0,-118402379.0,3101.0,96109.0,6037.0
23083,3.0,2.0,1344.0,0.0,0.0,0.0,0.0,2.0,1966.0,6200.0,33715954.0,-117886754.0,1286.0,97004.0,6059.0
7241,3.0,2.0,1488.0,0.0,0.0,0.0,0.0,0.0,2005.0,3511.0,33998747.0,-118243899.0,3101.0,95992.0,6037.0
49426,2.0,3.0,1999.0,0.0,0.0,0.0,1.0,2.0,1972.0,1830.0,33723641.0,-118055880.0,1286.0,96967.0,6059.0
11164,3.0,2.0,1257.0,1.0,0.0,0.0,0.0,0.0,1987.0,8953.0,34499290.0,-118629639.0,3101.0,96398.0,6037.0

    Baseline w/ fecture selection, scaling, and outliers removal

In [30]:
predictions = pd.DataFrame({'actual': validate.taxvalue})

In [31]:
predictions.head()

         actual
41380  165413.0
12242   74552.0
1865   147163.0
18048   59596.0
8242   299104.0

In [34]:
lm = LinearRegression()
lm.fit(X_train, y_train)
predictions['simple_lm'] = lm.predict(X_validate)

In [35]:
predictions.head()

         actual      simple_lm
41380  165413.0  177234.858194
12242   74552.0  334816.991923
1865   147163.0  678677.002522
18048   59596.0   85825.747480
8242   299104.0  433951.694249