In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import env
import acquire
import wrangle
from scipy import stats
import sklearn.preprocessing
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from numpy import percentile

from sklearn.experimental import enable_iterative_imputer  # noqa
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import SelectKBest, f_regression

    Filter out data using SQL propertylandusetypeid = 261 and transactiondate 2017

In [2]:
df = acquire.get_zillow_data()

Getting a fresh copy from SQL database...
Saving to csv...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56080 entries, 0 to 56079
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            56080 non-null  int64
 1   bedroomcnt                    56080 non-null  float64
 2   bathroomcnt                   56080 non-null  float64
 3   calculatedfinishedsquarefeet  55849 non-null  float64
 4   poolcnt                       10951 non-null  float64
 5   fireplacecnt                  7631 non-null   float64
 6   garagecarcnt                  18247 non-null  float64
 7   yearbuilt                     55831 non-null  float64
 8   lotsizesquarefeet             55730 non-null  float64
 9   fips                          56080 non-null  float64
 10  taxvaluedollarcnt             56072 non-null  float64
 11  transactiondate               56080 non-null  object
 12  propertylandusetypeid         56080 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 5.6+ MB

In [4]:
df_prep = df.copy(deep=True)
df_prep.isnull().sum()

id                                  0
bedroomcnt                          0
bathroomcnt                         0
calculatedfinishedsquarefeet      231
poolcnt                         45129
fireplacecnt                    48449
garagecarcnt                    37833
yearbuilt                         249
lotsizesquarefeet                 350
fips                                0
taxvaluedollarcnt                   8
transactiondate                     0
propertylandusetypeid               0
dtype: int64

    Replace zero values in bath & bed with NaN

In [5]:
bed_bath_0_columns = ['bedroomcnt', 'bathroomcnt']
df_prep[bed_bath_0_columns] = df_prep[bed_bath_0_columns].replace(0, np.NaN)
df_prep = df_prep.reset_index(drop=True)

In [6]:
df_prep.isnull().sum()

id                                  0
bedroomcnt                        359
bathroomcnt                       366
calculatedfinishedsquarefeet      231
poolcnt                         45129
fireplacecnt                    48449
garagecarcnt                    37833
yearbuilt                         249
lotsizesquarefeet                 350
fips                                0
taxvaluedollarcnt                   8
transactiondate                     0
propertylandusetypeid               0
dtype: int64

    Replace NaN values with 0 for pool, fire, and garage

In [7]:
fire_garge_pool_0_columns = ['poolcnt', 'fireplacecnt','garagecarcnt']
df_prep[fire_garge_pool_0_columns] = df_prep[fire_garge_pool_0_columns].replace(np.NaN, 0)
df_prep = df_prep.reset_index(drop=True)

In [8]:
df_prep.isnull().sum()

id                                0
bedroomcnt                      359
bathroomcnt                     366
calculatedfinishedsquarefeet    231
poolcnt                           0
fireplacecnt                      0
garagecarcnt                      0
yearbuilt                       249
lotsizesquarefeet               350
fips                              0
taxvaluedollarcnt                 8
transactiondate                   0
propertylandusetypeid             0
dtype: int64

In [9]:
df_prep.shape

(56080, 13)

In [10]:
df_prep = df_prep.dropna(axis=0)
df_prep = df_prep.reset_index(drop=True)

In [11]:
df_prep.shape

(55359, 13)

In [12]:
df_prep.head(50)

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,poolcnt,fireplacecnt,garagecarcnt,yearbuilt,lotsizesquarefeet,fips,taxvaluedollarcnt,transactiondate,propertylandusetypeid
0,20,4.0,2.0,3633.0,0.0,0.0,0.0,2005.0,9826.0,6037.0,296425.0,2017-01-02,261.0
1,33,3.0,2.0,2077.0,0.0,0.0,0.0,1926.0,6490.0,6037.0,646760.0,2017-01-02,261.0
2,110,3.0,1.0,1244.0,0.0,0.0,0.0,1950.0,6021.0,6037.0,169471.0,2017-01-03,261.0
3,111,3.0,2.0,1300.0,0.0,0.0,0.0,1950.0,4917.0,6037.0,233266.0,2017-01-03,261.0
4,112,3.0,2.0,1222.0,1.0,0.0,0.0,1951.0,5500.0,6037.0,290492.0,2017-01-03,261.0
5,244,3.0,2.5,1821.0,0.0,0.0,2.0,2013.0,2442.0,6059.0,537949.0,2017-01-03,261.0
6,245,4.0,3.5,2684.0,0.0,0.0,2.0,2014.0,3510.0,6059.0,644990.0,2017-01-03,261.0
7,246,3.0,2.5,2284.0,0.0,0.0,2.0,2014.0,3398.0,6059.0,934353.0,2017-01-03,261.0
8,248,3.0,3.0,2342.0,0.0,0.0,2.0,2014.0,3508.0,6059.0,1170140.0,2017-01-03,261.0
9,249,4.0,3.0,2666.0,0.0,0.0,2.0,2015.0,5145.0,6059.0,926448.0,2017-01-03,261.0
10,251,4.0,3.0,2642.0,0.0,0.0,2.0,2013.0,3663.0,6059.0,1422754.0,2017-01-03,261.0
11,255,4.0,3.5,2393.0,0.0,0.0,2.0,2014.0,3418.0,6059.0,947289.0,2017-01-03,261.0
12,256,5.0,5.5,4092.0,0.0,0.0,2.0,2013.0,6519.0,6059.0,1697000.0,2017-01-03,261.0
13,257,4.0,3.0,2536.0,0.0,0.0,2.0,2014.0,4554.0,6059.0,1009158.0,2017-01-03,261.0
14,259,5.0,4.5,3066.0,0.0,0.0,2.0,2015.0,4538.0,6059.0,1151781.0,2017-01-03,261.0
15,260,2.0,2.0,1970.0,0.0,0.0,2.0,2013.0,3856.0,6059.0,637686.0,2017-01-03,261.0
16,261,4.0,3.0,2695.0,0.0,0.0,2.0,2014.0,4433.0,6059.0,871722.0,2017-01-03,261.0
17,279,4.0,2.5,2522.0,0.0,0.0,2.0,2012.0,4904.0,6059.0,587490.0,2017-01-03,261.0
18,295,4.0,4.0,5044.0,0.0,0.0,0.0,1944.0,96580.0,6037.0,4000000.0,2017-01-03,261.0
19,296,2.0,1.0,725.0,0.0,0.0,0.0,1953.0,5649.0,6037.0,37548.0,2017-01-03,261.0
20,298,4.0,2.0,2143.0,0.0,0.0,0.0,1984.0,5063.0,6037.0,209415.0,2017-01-03,261.0
21,331,5.0,4.5,3207.0,0.0,0.0,2.0,2015.0,6010.0,6059.0,900000.0,2017-01-03,261.0
22,332,3.0,2.5,2157.0,0.0,0.0,2.0,2015.0,3242.0,6059.0,670927.0,2017-01-03,261.0
23,337,4.0,4.0,4969.0,1.0,3.0,4.0,1989.0,120226.0,6111.0,2228473.0,2017-01-03,261.0
24,338,3.0,2.0,1800.0,0.0,0.0,2.0,1932.0,19323.0,6111.0,794940.0,2017-01-03,261.0
25,339,2.0,1.0,780.0,0.0,1.0,2.0,1971.0,6900.0,6111.0,88731.0,2017-01-03,261.0
26,340,2.0,2.0,1250.0,0.0,0.0,2.0,1978.0,4125.0,6111.0,233424.0,2017-01-03,261.0
27,341,2.0,1.0,1404.0,0.0,2.0,1.0,1950.0,7500.0,6111.0,313844.0,2017-01-03,261.0
28,342,3.0,2.0,1505.0,0.0,1.0,2.0,1961.0,10383.0,6111.0,604790.0,2017-01-03,261.0
29,343,3.0,2.0,1181.0,0.0,0.0,2.0,1961.0,13539.0,6111.0,61001.0,2017-01-03,261.0
30,344,4.0,3.0,2025.0,0.0,2.0,2.0,1961.0,10752.0,6111.0,450938.0,2017-01-03,261.0
31,345,4.0,2.5,1620.0,1.0,1.0,2.0,1967.0,8531.0,6111.0,369463.0,2017-01-03,261.0
32,346,3.0,2.5,2148.0,0.0,1.0,2.0,1981.0,22978.0,6111.0,680000.0,2017-01-03,261.0
33,347,4.0,4.0,2840.0,1.0,1.0,2.0,1966.0,60548.0,6111.0,610795.0,2017-01-03,261.0
34,348,5.0,3.5,3541.0,0.0,2.0,1.0,1960.0,63162.0,6111.0,933239.0,2017-01-03,261.0
35,349,4.0,5.0,3760.0,1.0,4.0,3.0,1982.0,42688.0,6111.0,872850.0,2017-01-03,261.0
36,351,2.0,1.0,1089.0,0.0,0.0,2.0,1929.0,6661.0,6111.0,195404.0,2017-01-03,261.0
37,352,1.0,1.5,1440.0,0.0,1.0,2.0,1973.0,11795.0,6111.0,391993.0,2017-01-03,261.0
38,353,2.0,2.5,2468.0,0.0,1.0,2.0,1995.0,53579.0,6111.0,517877.0,2017-01-03,261.0
39,354,3.0,4.0,2261.0,0.0,2.0,2.0,1979.0,40162.0,6111.0,766586.0,2017-01-03,261.0
40,355,3.0,2.0,1444.0,0.0,0.0,1.0,1951.0,7108.0,6111.0,436157.0,2017-01-03,261.0
41,356,2.0,1.0,1116.0,0.0,0.0,2.0,1957.0,8982.0,6111.0,231404.0,2017-01-03,261.0
42,357,3.0,2.0,1197.0,0.0,1.0,2.0,1958.0,8190.0,6111.0,287396.0,2017-01-03,261.0
43,358,3.0,2.0,1204.0,0.0,0.0,2.0,1961.0,9750.0,6111.0,426408.0,2017-01-03,261.0
44,359,2.0,1.0,1411.0,0.0,1.0,1.0,1947.0,13825.0,6111.0,222532.0,2017-01-03,261.0
45,360,2.0,1.0,1050.0,0.0,1.0,2.0,1954.0,10027.0,6111.0,151363.0,2017-01-03,261.0
46,361,2.0,2.0,1754.0,0.0,1.0,1.0,1962.0,23086.0,6111.0,853675.0,2017-01-03,261.0
47,362,3.0,2.0,1638.0,1.0,1.0,2.0,1989.0,197651.0,6111.0,653582.0,2017-01-03,261.0
48,363,2.0,1.0,924.0,0.0,0.0,2.0,1950.0,41400.0,6111.0,230860.0,2017-01-03,261.0
49,364,3.0,2.0,1023.0,0.0,1.0,1.0,1956.0,9000.0,6111.0,123919.0,2017-01-03,261.0